---
import TickIcon from '../components/icons/TickIcon.astro';
import WebIcon from '../components/icons/WebIcon.astro';
import ConstructionIcon from '../components/icons/ConstructionIcon.astro';
import ArrowIcon from '../components/icons/ArrowIcon.astro';



const { title, description, features, originalPrice, discountPrice, discount, icon, currency, featured = false } = Astro.props;

const safeFeatures = Array.isArray(features) ? features : [];

const icons = new Map([
  ["web", WebIcon],
  ["construction", ConstructionIcon],
  ["arrow", ArrowIcon]
]);

const SelectedIcon = icons.get(icon) || WebIcon;
---

                <article class:list={[
                    "relative border gap-6 rounded-3xl border-black/15 hover:shadow-2xl hover:-translate-y-1 p-8 lg:p-10 grid grid-rows-[auto_1fr_auto_auto] transition-all duration-200 group",
                    {
                        "bg-black":featured,
                        "bg-white/95 ":!featured,
                    }
                ]}>
                    {featured && (
                        <div class="absolute -top-4  left-1/2 -translate-x-1/2 z-10">
                            <div class="px-4 py-1 rounded-full bg-linear-to-r from-blue-500 to-blue-700 shadow-xl shadow-blue-500/30">
                                <span class="text-xs font-bold text-white uppercase tracking-wider">
                                Más Popular
                                </span>
                            </div>
                        </div>
                    )}

                    <header>
                        <div class:list={[
                            "inline-flex p-2 rounded-2xl transition-all duration-200",
                            {
                                "bg-gray-500/30 group-hover:bg-gray-400/40": featured,
                                "bg-gray-300/40 group-hover:bg-gray-500/30":!featured,
                            }
                        ]}>
                            <SelectedIcon class:list={[
                                "size-8",
                                {
                                    "text-white": featured,
                                }
                            ]}/>
                        </div>

                        <h3 class:list={[
                            "text-2xl min-h-16 font-semibold my-4 text-balanced",
                            {
                                "text-white": featured,
                                "text-black/90": !featured,
                            }
                        ]}>
                            {title}
                        </h3>

                        <p class:list={[
                            "leading-relaxed  ",
                            {
                                "text-white/80": featured,
                                "text-gray-700/80": !featured,
                            }
                        ]}>
                            {description}
                        </p>
                    </header>

                    <main class="">
                        <ul class="flex flex-col gap-3 ">
                            {safeFeatures.map((feature) => (
                                <li class="flex items-start gap-x-3">
                                    <TickIcon class="mt-1 inline-block size-5 shrink-0 text-blue-500" />
                                    <span class:list={[
                                        "leading-relaxed",
                                        {
                                            "text-white": featured,
                                            "text-black/90": !featured,
                                        }
                                    ]}>{feature}</span>
                                </li>
                            ))}
                        </ul>
                    </main>
                            <span class:list={[
                                "block h-px  w-full",
                                {
                                    "bg-gray-300/20": featured,
                                    "bg-gray-300/60": !featured,
                                }
                            ]}>
                            </span>

                    <footer>
                        <p class="text-gray-500 font-semibold">Desde</p>

                        <p class="text-md font-bold items-baseline text-gray-500 flex gap-x-2">
                            <span class:list={[
                                "text-4xl font-extrabold",
                                {
                                    "text-white": featured,
                                    "text-black/90": !featured,
                                }
                            ]}>${discountPrice}</span> 

                            /{currency}

                            <span class="line-through">${originalPrice}</span>

                            <span class:list={[
                                "rounded py-0.5 px-1 text-sm hidden ",
                                {
                                    "bg-blue-500 text-white  ":featured,
                                    "bg-blue-200 text-blue-600 ":!featured,
                                }
                            ]}>-{discount}%</span>
                        </p>

                        <p class="mt-3 text-gray-500 ">Precio regular: <span class="font-bold">${originalPrice} USD</span></p>

                        <a href="" class:list={[
                            "text-black/90 font-semibold border flex p-4 mt-5 rounded-lg text-center group justify-center items-center transition-all  duration-200",
                            {
                                " bg-white  hover:bg-white/70": featured,
                                "border-gray-700/15 bg-gray-500/20 hover:bg-gray-500/50 hover:border-gray-700/20": !featured
                            }
                        ]}>
                            Solicitar cotización
                        </a>
                    </footer>
                </article>